SECRET_KEY=YOUR_DJANGO_SECRET_KEY_HERE
DEBUG=1
DOMAIN=localhost

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1

BOT_TOKEN=YOUR_BOT_TOKEN_HERE
PROVIDER_TOKEN=YOUR_PROVIDER_URL_HERE
REDIS_URL=redis://redis:6379/0
SUBSCRIBE_CHATS=-1001234567890,-1002345678901

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
